.husky
.vscode
deploy/*
!deploy/nginx.conf
node_modules
coverage
public
src

.babelrc
.dockerignore
.env
.eslintignore
.eslintrc.js
.gitignoore
.prettierrc.js
build.sh
deployment.yaml
Dockerfile
jest.config.js
README.md
screenshot.png
tsconfig*.json
webpack.*
*.key
*.key.pub
config.json
config.sample.json
